@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Oswald:wght@300;400;500;600&display=swap");

.todoContainer {
  width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}
.todoCreateForm {
  display: flex;
  gap: 5px;
}
.todoInput {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: solid 1px #999;
}
.buttonCreate {
  border: none;
  border-radius: 3px;
  background-color: rgb(26, 76, 169);
  color: white;
  padding: 10px 20px;
}
.todosContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
.todo {
  padding: 10px;
  background-color: white;
}
.todoTitle {
  flex: 1;
  font-size: 20px;
  background: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.todoTitleCompleted {
  background-color: #08986e;
  flex: 1;
  font-size: 20px;
  background: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.todoInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.button {
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: rgb(72, 122, 221);
  padding: 10px 20px;
}
.buttonDelete {
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: rgb(169, 26, 26);
  padding: 10px 20px;
}
.todoTitleCompleted {
  background-color: #08986e;
  padding: 2px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstTitle {
  color: #1b1f3b;
  font-family: "Climate Crisis", cursive;
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 400px) {
  .todoCreateForm {
    margin: 0 15px;
  }
  .todoInfo {
    margin: 0 15px;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .todoCreateForm {
    margin: 0 15px;
  }
  .todoInfo {
    margin: 0 15px;
  }
}
